{% extends 'base.html' %}


{% block content %} 

  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-6">
        CATEGORIES
        <table class="table w-50 mt-5">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">name</th>
              <th scope="col">image</th>
            </tr>
          </thead>
          <tbody>
              {% for cat in cats %}
            <tr>
              <th scope="row">{{cat.id}}</th>
              <td>{{cat.name}}</td>
              <td>{{cat.image}}</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>

      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
       
          TACHES
        <table class="table w-50 mt-5">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">title</th>
              <th scope="col">date_création</th>
              <th scope="col">catégorie </th>
              <th scope="col">Finis </th>
              <th scope="col">Valider </th>
            </tr>
          </thead>
          <tbody>
              {% for todo in todos %}
            <tr>
              <th scope="row">{{todo.id}}</th>
              <td>{{todo.title}}</td>
              <td>{{todo.date_creation}}</td>
              <td>{{todo.category}}</td>
              <td>{{todo.has_been_done}}</td>
              <td>
                <a href="#" type="button" class="btn btn-warning" title="Valider">
                  <i class="bi bi-check-circle-fill"></i>
              </a>
              </td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>

      </div>
    </div>
  </div>

{% endblock content %}

