header{
	background-color: #554f55;
	height: 40px;
	margin-top: -10px;
}

nav a{
	float: right;
	color: white;
	margin-right: 20px;
}
a{
	margin-top: 15px;
	text-decoration-line: none;
	font-size: 20px;
}
span{
	margin-top: 9px;
	margin-left: 15px;
}

nav span{
	color: white;
}


main{
	margin-top: 20px;
	display: table;
	clear: both;
	text-align: center;

}

div{
	float: left;
     height: 350px;
     width: 25%;
     height: 500px;
}


img{
	width: 80%;
}

#product button{
	border: none;
	padding: 5px;
	margin-top: -25px;
}

#product h4{
	display: inline-block;
	margin-right: 10px;
}


#product .prix{
	color: green;
}


#product .prix-old{
	text-decoration-line: line-through;
}



.footer{
	text-align: center;
	height: 65px;
	width: 100%;
	background-color: #554f55;
	margin-bottom: -9px;

}

footer i{
	display: inline-block;
	margin-right: 25px;
	font-size: 50px;
	padding: 10px;

}

i{
	color: white;
}

footer i:hover{
	color: greenyellow;
}
