{% extends 'index.html' %}

{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% comment %} {% load django_bootstrap5 %} {% endcomment %}
{% block content %}{% endblock content %}

{% block main%}



            <br><br>
           
   <div class="container mt-3" style="width: 95%; font-size: 14px">
      
      <form method="POST" class="card p-3 mt-5" {% block action %} action="{% url 'add' %}" {% endblock action %} autocomplete="off" enctype="multipart/form-data"> 
            {% csrf_token %}

            {% comment %} {% bootstrap_form form %} {% endcomment %}

         <div class="row">
            <div class="col-6">{{form.reference|as_crispy_field}}</div>
            <div class="col-6">{{form.objet|as_crispy_field}}</div>
         </div>

         <div class="row">
            <div class="col-6">{{form.nature|as_crispy_field}}</div>
            <div class="col-6">{{form.matricule|as_crispy_field}}</div>
         </div>

         <div class="row">
            <div class="col-4">{{form.nom|as_crispy_field}}</div>
            <div class="col-4">{{form.prenom|as_crispy_field}}</div>
            <div class="col-4">{{form.montant|as_crispy_field}}</div>
         </div>

           <div class="row">
            <div class="col-4">{{form.duree|as_crispy_field}}</div>
            <div class="col-4">{{form.date_signature|as_crispy_field}}</div>
            <div class="col-4">{{form.date_debut|as_crispy_field}}</div>
         </div>

         <div class="row">
            <div class="col-4">{{form.date_fin|as_crispy_field}}</div>
            <div class="col-4">{{form.nombre_renouv|as_crispy_field}}</div>
            <div class="col-4">{{form.date_renouvel|as_crispy_field}}</div>
         </div>

         <div class="row">
            <div class="col-4">{{form.lieu|as_crispy_field}}</div>
            <div class="col-4">{{form.date_alerte|as_crispy_field}}</div>
            <div class="col-4"> {{form.file|as_crispy_field}}</div>
         </div>

         <div class="mt-4" style="width: 100p%;">
            <button style= "font-size: 15px;" type="submit" class="btn btn-success mb-3">
               {% block btn_action %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Add Contrat {% endblock btn_action %}
            </button>
            <a style= "font-size: 15px;" href="{% url 'contrat' %}" type="button" class="btn btn-outline-danger mb-3 ms-2" style="wdith: 50px;" title="Close">
                  <i class="fas fa-times"></i>
            </a>
         </div> 
          
      </form>
   </div>
         {% for message in messages %}
               <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
               {% if message.tags == 'error' %}
               <script>
                     var m = "{{ message }}";
                     swal("Denied !", "Enter your data correctly.", "error")
               </script>
               {% elif message.tags == 'success' %}
               <script>
                     var m = "{{ message }}";
                     swal("Perfect !", m, "success")
               </script>
               {% endif %}

         {% endfor%}
{% endblock main%}