{% extends 'index.html' %}
{% load bootstrap_icons %}


{% block content %}{% endblock content %}
{% block main%}

<table class="table caption-top">
  <br><br><br>

<a href="{% url 'add' %}" style="float: right; margin-right: 30px;" title="Add contrat">
  <i style="color: yellowgreen; font-size: 25px; " class="fa-sharp fa-solid fa-folder-plus"></i> &nbsp;&nbsp;
</a>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Reference</th>
      <th scope="col">Object</th>
      <th scope="col">Nature</th>
      <th scope="col">signature</th>
      <th scope="col">fin</th>
      <th scope="col">Lieu</th>
      <th scope="col">Alerte</th>
      <th scope="col">File</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
    
    {% for contrat in page_obj %}
    <tr>
      <th scope="row">{{contrat.id}}</th>
      <td>{{contrat.reference}}</td>
      <td>{{contrat.objet}}</td>
      <td>{{contrat.nature}}</td>
      <td>{{contrat.date_signature}}</td>
      <td>{{contrat.date_fin}}</td>
      <td>{{contrat.lieu}}</td>
      <td>{{contrat.date_alerte}}</td>
      <td>
        <a href ="{{contrat.file.url}}" title="Lire le fichier">
        <i style="font-size: 25px; color: green" class="fa-solid fa-file-pdf"></i>
        </a>
      </td>
      <td>
        <a class="btn btn-success text-center" title="Edit Contrat" data-bs-toggle="modal" data-bs-target="#editModal{{contrat.pk}}">
            <i style="font-size: 15px;" class="fas fa-pen"></i>
        </a>
    </td>
    <td>
        <a class="btn btn-secondary text-center" title="Delete Contrat" data-bs-toggle="modal" data-bs-target="#deleteModal{{contrat.pk}}">
            <i style="font-size: 15px;" class="fas fa-trash-alt"></i>
        </a>
    </td> 
    </tr>
    {% endfor %}
  </tbody>
</table>

{% block pagination%}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock pagination%}
{% comment %} {% include 'gestioncontrat/add.html' %} {% endcomment %}
{% comment %} {% include 'gestioncontrat/edit.html' %}
{% include 'gestioncontrat/modals/delete.html' %} {% endcomment %}
  {% endblock main%}

