{% extends 'gestioncontrat/modals/baseModal.html' %}

<!--  Modal ID -->
{% block modal_id %}id="deleteModal{{contrat.pk}}"{% endblock modal_id %}
<!--  Modal title -->
{% block modal_title %} 
<i class="fas fa-trash-alt"></i>&nbsp;&nbsp; Delete Message
{% endblock modal_title %}
<!--  Modal Body -->
{% block modal_body %}
<div class="text-center text-danger"> <i class="fas fa-times-circle fa-5x mb-4 mt-2" aria-hidden="true"></i></div>
<div class="text-center text-danger">
    <span>DO YOU WANT TO DELETE THIS Citoyen ??? </span>
    <div class="text-dark mt-3 mb-2">Citoyen : <strong>{{contrat.reference}} {{contrat.nom}} {{contrat.prenom}}</strong></div>
</div>
{% endblock modal_body %}
<!--  Modal Footer -->
{% block modal_footer %} 
<a href="/delete/{{contrat.id}}" class="btn btn-outline-danger btn-sm btn-modal">Delete</a>
{% endblock modal_footer %}
<!--  Modal Close -->